<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="10mm"
   height="4.5067625mm"
   viewBox="0 0 10 4.5067625"
   version="1.1"
   id="svg8"
   inkscape:version="0.92.4 (33fec40, 2019-01-16)"
   sodipodi:docname="pressure-map.svg">
  <defs
     id="defs2" />
  
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-292.49326)">
    <rect
       style="opacity:1;stroke-width:0.23859677;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       [ngStyle]="regionStyle('R1')"
       id="r1"
       width="2.7614033"
       height="1.7614032"
       x="0.11929838"
       y="292.61929" />
    <rect
      [ngStyle]="regionStyle('R2')"
       y="292.67221"
       x="3.6789474"
       height="4.1421046"
       width="2.6421049"
       id="r2"
       style="opacity:1;stroke-width:0.35789514;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
    <rect
      [ngStyle]="regionStyle('R4')"
       y="295.11932"
       x="0.11929838"
       height="1.7614033"
       width="2.7614033"
       id="r4"
       style="opacity:1;stroke-width:0.23859677;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
    <rect
    [ngStyle]="regionStyle('R3')"
       y="292.61929"
       x="7.1192985"
       height="1.7614032"
       width="2.7614033"
       id="r3"
       style="opacity:1;stroke-width:0.23859677;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
    <rect
    [ngStyle]="regionStyle('R5')"
       style="opacity:1;stroke-width:0.23859677;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       id="r5"
       width="2.7614033"
       height="1.7614033"
       x="7.1192985"
       y="295.11932" />
  </g>
</svg>
